.reviews {
    padding: 75px 0;
    background: #403a36;
    @media (max-width: 990px) {
        padding: 70px 0 100px 0;
    }
    .title_simple {
        color: #fff;
        margin-bottom: 50px;
        @media (max-width: 990px) {
            margin-bottom: 35px;
        }
    }
    .reviews_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
        @media (max-width: 990px) {
            flex-direction: column;
            margin-bottom: 70px;
        }
        img {
            max-width: 100%;
            height: auto;
            margin: 0 20px;
            @media (max-width: 990px) {
                margin: 10px 0;
            }
        }
    }
    .reviews_insta {
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: '';
            background: url(../img/reviews/insta.svg);
            background-size: 115px 115px;
            height: 115px;
            width: 115px;
            display: block;
            position: absolute;
        }
        a {
            letter-spacing: .7px;
            text-transform: uppercase;
            color: #c0b8b4;
            font: 1.625rem "Rodch";
            position: relative;
            z-index: 9;
        }
    }
}