footer {
    background: #282828;
    .container {
        padding: 30px 0 40px 0;
        @media (max-width: 990px) {
            padding: 40px 0;
        }
    }
    .copyright {
        color: #f2d750;
        font: 300 .87rem 'Montserrat', sans-serif;
        @media (max-width: 576px) {
            text-align: center;
        }
    }
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    @media (max-width: 990px) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 35px;
    }
    .footer_menu {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
        @media (max-width: 990px) {
            margin-bottom: 45px;
            grid-gap: 20px 30px;
            grid-template-columns: repeat(2,1fr);
        }
        @media (max-width: 576px) {
            display: none;
        }
        a {
            color: #fff;
            position: relative;
            text-transform: uppercase;
            font: 500 .87rem 'Montserrat', sans-serif; 
            @media (max-width: 576px) {
                opacity: .5;
            }
            &:hover {
                &::before {
                    width: 100%;
                    opacity: 1;
                }
            }
            &::before {
                content: "";
                position: absolute;
                bottom: -5px;
                height: 1px;
                width: 0;
                transition: .3s;
                display: block;
                opacity: 0;
                background: #fff;
            }
        }
    }
    .footer_menu_mob {
        display: none;
        @media (max-width: 576px) {
            display: grid;
            margin-bottom: 45px;
            grid-gap: 20px 30px;
            grid-template-columns: repeat(2,1fr);
        }
    }
    .footer_pay_box {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
        }
        .bottom_pay {
            @media (max-width: 576px) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 25px;
            }
            img:nth-child(1) {
                @media (max-width: 576px) {
                    position: relative;
                    right: -10px;
                }
            }
            img:nth-child(2) {
                @media (max-width: 576px) {
                    position: relative;
                    left: -10px;
                }
            }
        }
        img {
            margin: 0 5px;
            @media (max-width: 576px) {
                display: block;
                margin: 0 auto;
            }
        }
        img:last-child {
            position: relative;
            top: -1.5px;
        }
    }
}


.uslugi_spa_bg {
    background: url(../img/uslugi/uslugi-spa.png) no-repeat center center/cover; }
  
.kosmetolog_bg {
    background: url(../img/uslugi/kosmetolog.png) no-repeat center center/cover; }
  
@media (max-width: 990px) {
    .logo_link img {
      left: 0;
      right: 0;
    }
    .logo_link {
      position: relative;
      right: -22px;
      margin: 0 auto;
    }
    .mob_menu a {
      text-transform: uppercase;
    }
}